<h1>Busted!</h1>

<table>
  <tr>
    <td width="250"><h2>Первый визит</h2></td>
    <td width="250"><h2>Текущий визит</h2></td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td>Тип:</td>
          <td><%= extract_sourcebuster_data(cookies[:sb_first])[:typ] %></td>
        </tr>
        <tr>
          <td>utm_source:</td>
          <td><%= extract_sourcebuster_data(cookies[:sb_first])[:src] %></td>
        </tr>
        <tr>
          <td>utm_medium:</td>
          <td><%= extract_sourcebuster_data(cookies[:sb_first])[:mdm] %></td>
        </tr>
        <tr>
          <td>utm_campaign:</td>
          <td><%= extract_sourcebuster_data(cookies[:sb_first])[:cmp] %></td>
        </tr>
        <tr>
          <td>utm_content:</td>
          <td><%= extract_sourcebuster_data(cookies[:sb_first])[:cnt] %></td>
        </tr>
        <tr>
          <td>utm_term:</td>
          <td><%= extract_sourcebuster_data(cookies[:sb_first])[:trm] %></td>
        </tr>
      </table>
    </td>

    <td>
      <table>
        <tr>
          <td>Тип:</td>
          <td><%= extract_sourcebuster_data(cookies[:sb_current])[:typ] %></td>
        </tr>
        <tr>
          <td>utm_source:</td>
          <td><%= extract_sourcebuster_data(cookies[:sb_current])[:src] %></td>
        </tr>
        <tr>
          <td>utm_medium:</td>
          <td><%= extract_sourcebuster_data(cookies[:sb_current])[:mdm] %></td>
        </tr>
        <tr>
          <td>utm_campaign:</td>
          <td><%= extract_sourcebuster_data(cookies[:sb_current])[:cmp] %></td>
        </tr>
        <tr>
          <td>utm_content:</td>
          <td><%= extract_sourcebuster_data(cookies[:sb_current])[:cnt] %></td>
        </tr>
        <tr>
          <td>utm_term:</td>
          <td><%= extract_sourcebuster_data(cookies[:sb_current])[:trm] %></td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <table>
        <tr>
          <td>Дата первого визита:</td>
          <td><%= extract_sourcebuster_data(cookies[:sb_first_add])[:fd] %></td>
        </tr>
        <tr>
          <td>Точка входа:</td>
          <td><%= extract_sourcebuster_data(cookies[:sb_first_add])[:ep] %></td>
        </tr>
        <tr>
          <td>Реферер:</td>
          <td><%= request.referer %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<h2>Ссылки для вдохновения</h2>
<p><strong>UTM</strong></p>
<p>
  <%= link_to "#{sourcebuster.showoff_url}?utm_source=yandex&utm_medi...",
              sourcebuster.showoff_url + "?utm_source=yandex&utm_medium=cpc&utm_campaign=y_test_sourcebuster&utm_term=sourcebuster_yandex_keyword" %><br />
  <%= link_to "#{sourcebuster.showoff_url}?utm_source=google&utm_medi...",
              sourcebuster.showoff_url + "?utm_source=yandex&utm_medium=cpc&utm_campaign=g_test_sourcebuster&utm_term=sourcebuster_google_keyword" %>
</p>
<p><strong>Referral Social (на страницах есть ссылки сюда)</strong></p>
<p>
  <%= link_to "Facebook", "https://www.facebook.com/alex.fedoseev" %><br />
  <%= link_to "Twitter", "https://twitter.com/alexfedoseev" %>
</p>
<p><strong>Referral (на странице есть ссылка сюда)</strong></p>
<p>
  <%= link_to "ЖЖ", "http://alexfedoseev.livejournal.com/86172.html" %>
</p>
<p><strong>Organic (пока не проиндексировалось, можете реферер подделать)</strong></p>
<p>

</p>